@model API.Models.ExperienceModel

@{
    ViewBag.Title = "Edit";
    
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Experience</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <span class="text-danger" id="spnErrors">@ViewBag.errors</span>
    <div class="form-group">

        <div class="col-md-10">
            @Html.HiddenFor(model => model.ExperienceId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ExperienceId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dates, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dates, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dates, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>

    <fieldset>
        <legend>Bulletpoints</legend>
        <div class="container" id="divBulletPoints">
            @for (int i = 0; i < Model.BulletPoints.Count; i++)
            {
                <div class="row">
                    @Html.EditorFor(m => Model.BulletPoints[i], new { htmlAttributes = new { @class = "form-control" } })
                </div>
            }
        </div>
        <input type="hidden" id="hdnBulletCount" value="@Model.BulletPoints.Count()" />
        <input type="button" value="Add" onclick="addBulletPoint()" />
        <input type="button" value="RemoveLast" onclick="removeBulletPoint()" />
    </fieldset>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>




</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/portfolio.js"></script>
}
