@model IEnumerable<API.Models.WebsiteModel>

@{
    ViewBag.Title = "Index";
}

<h2>Websites</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WebsiteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WebsiteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("↑", "MoveUp", new { id = item.WebsiteId }) |
            @Html.ActionLink("↓", "MoveDown", new { id = item.WebsiteId}) |
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.WebsiteId }) |
            @Html.ActionLink("Details", "Details", new { id = item.WebsiteId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.WebsiteId })
        </td>
    </tr>
}

</table>
